<header>
  <form class="" action="/logout" method="post">
    <div class="">
      <input type="submit" name="" value="Logout">
    </div>
  </form>
</header>

<h1>Here are your code snippets, {{user.username}}!</h1>
