<h1>Login to view your Code Snippets</h1>

<div class="form-flex">
  <div class="column">
    <form class="login" action="/login" method="post">
      <div class="">
        <label for="">Username:</label>
        <input type="text" name="username" value="">
      </div>
      <div class="">
        <label for="">Password:</label>
        <input type="password" name="password" value="">
      </div>
      <div class="">
        <input type="submit" name="" value="Login!">
      </div>
    </form>
  </div>
</div>
<div class="">
  <h3>Want to create and save your own code snippets?  Click <a href="/signup">here</a> to sign up!</h3>
</div>
