<h1>Welcome to Code Snippets!  Please sign up to create a User profile below:</h1>

<div class="form-flex">
  <div class="column">
    <form class="signup" action="/signup" method="post">
      <div class="">
        <label for="">Full Name:</label>
        <input type="text" name="fullname" value="{{fullname}}">
      </div>
      <div class="">
        <label for="">Username:</label>
        <input type="text" name="username" value="{{username}}">
      </div>
      <div class="">
        <label for="">Password:</label>
        <input type="password" name="password" value="">
      </div>
      <div class="">
        <label for="">Email:</label>
        <input type="text" name="email" value="">
      </div>
      <div class="">
        <input type="submit" name="" value="Create an Account!">
      </div>
    </form>
  </div>
</div>
<div class="">
  <h3>Already have an account?  Click <a href="/login">Here</a> to Login!</h3>
</div>
